/* Styles isolés à la page */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: linear-gradient(to bottom, #8a4b2b, #d09d6f);
    color: white;
  }
  
  .logo {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2rem;
  }
  
  .tagline {
    font-size: 1.5rem;
    margin: 1rem 2rem;
  }
  
  .buttons {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: auto;
  }
  
  .btn {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem;
    cursor: pointer;
  }
  
  .createAccount {
    background-color: #543d2c;
    color: white;
  }
  
  .login {
    background-color: #543d2c;
    color: white;
  }
  
  .footerText {
    font-size: 0.8rem;
    color: #f0e4da;
    margin: 1rem 2rem;
  }
  