.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: linear-gradient(to bottom, #8a4b2b, #d09d6f);
    color: white;
    font-family: 'Arial', sans-serif;
    padding: 20px;
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.message {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #ffeeba;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.threeInput {
    font-size: 1rem;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 10px;
}

.input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 10px;
    background: rgba(#b38253);
    color: #333;
    font-size: 1rem;
}

.input:focus {
    outline: none;
    border: 2px solid #543d2c;
}

.btn {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.createAccount {
    background-color: #543d2c;
    color: white;
}

.createAccount:hover {
    background-color: #6a513f;
}
